<template name="tasks">
	<ul class="collection with-header">
        <li class="collection-header"><h4>Tasks</h4></li>
        <!-- <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></div></li>
        <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></div></li> -->
        {{#each tasks}}
        	<li class="collection-item">
        		<div>{{text}}
                    {{#if isInRole 'Administrator'}}
        			<a href="#!" class="secondary-content">
        				<i class="material-icons">delete</i>
        			</a>
                    {{/if}}
        		</div>
        	</li>
      	{{/each}}
      </ul>
</template>